html {
    font-size: 15px;
    color: black;
  }

section {
  width: 400px;
  max-width: 420px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: #FFE1A8;
  box-shadow: 3px 3px whitesmoke;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  border-color: white;
}

a,
a:visited {
  color: #E26D5C;
}

input[type="text"],
input[type="password"],
input[type="email"],
button,
textarea {
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border-color: #ffe1a8;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
  background-color: #e26d5c;
  color: white;
  border-color: #e26d5c;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #e26d5c;
  color: white;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: papayawhip;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

/* #FFEFD5
#FFE1A8
#E26D5C
#723D46
#472D30 */